@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --preto_besouro: #1E2019;
    --branco_besouro: #F8F7FF;
    --cinza_besouro: #e4e3eb;
    --verde_besouro: #949D6A;
    --azul_besouro: #336699;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--azul_besouro) ;
    color: var(--branco_besouro);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    height: 70px;
}

header img {
    width: 98px;
}

.icon img {
    width: 38px;
}

article {
    display: flex;
    flex-direction: column;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-image: url(../images/abbey-road.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-width: 240px;
    padding: 25px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    color: var(--branco_besouro);
}

.intro h1 {
    font-weight: 300;
    font-size: 1.5em;
}


.intro img {
    width: 350px;
}


.intro h2 {
    font-weight: 300;
    font-size: 1em;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 30px;
    width: 120px;
    height: 36px;
    background-color: var(--verde_besouro);
    font-size: 1.4em;
    box-shadow: var(--preto_besouro) 3px 3px 15px;
    color: var(--branco_besouro);
}

.button img {
    width: 22px;
}

.beatle {
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
    background-color: var(--branco_besouro);
}


.beatle-alt {
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
    background-color: var(--cinza_besouro);
}

.beatle_text {
    min-width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-size: 1em;
    text-align: justify;
    color: var(--preto_besouro);
}

.beatle_text-alt {
    min-width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-size: 1em;
    text-align: justify;
    color: var(--preto_besouro);
}

.beatle_text h2 {
    color: var(--azul_besouro);
    font-size: 3em;
    font-weight: 600;
}

.beatle_text-alt h2 {
    color: var(--verde_besouro);
    font-size: 3em;
    font-weight: 600;
}

footer {
    height: 20px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Outfit', sans-serif;
    background-color: var(--preto_besouro);
    color: var(--azul_besouro);
    text-align: center;
}

footer a {
    color: var(--branco_besouro);
}

@media (min-width: 888px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: var(--azul_besouro) ;
        color: var(--branco_besouro);
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        height: 70px;
        padding: 10px 25px 10px 25px;
    }

    header img {
        width: 98px;
    }
    
    article {
        display: flex;
        flex-direction: column;
    }
    
    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        background-image: url(../images/abbey-road.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        min-width: 888px;
        height: 640px;
        padding: 30px;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Outfit', sans-serif;
        color: var(--branco_besouro);
    }
    
    .intro h1 {
        font-weight: 300;
        font-size: 2em;
    }

    
    .intro img {
    width: 650px;
    }

    
    .intro h2 {
        font-weight: 300;
        font-size: 1.5em;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        border-radius: 30px;
        width: 180px;
        height: 48px;
        background-color: var(--verde_besouro);
        font-size: 1.4em;
        box-shadow: var(--preto_besouro) 3px 3px 15px;
        color: var(--branco_besouro);
    }

    .button img {
        width: 28px;
    }
    
    .beatle {
        padding: 50px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 100px;
        background-color: var(--branco_besouro);
    }
    
    
    .beatle-alt {
        padding: 50px;
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        gap: 100px;
        background-color: var(--cinza_besouro);
    }
    
    
    .beatle_text {
        width: 330px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Outfit', sans-serif;
        font-size: 1em;
        text-align: justify;
        color: var(--preto_besouro);
    }
    
    .beatle_text-alt {
        width: 330px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Outfit', sans-serif;
        font-size: 1em;
        text-align: justify;
        color: var(--preto_besouro);
    }
    
    .beatle_text h2 {
        color: var(--azul_besouro);
        font-size: 3em;
        font-weight: 600;
    }
    
    .beatle_text-alt h2 {
        color: var(--verde_besouro);
        font-size: 3em;
        font-weight: 600;
    }
    
    
    footer {
        width: 100%;
        height: 20px;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Outfit', sans-serif;
        background-color: var(--preto_besouro);
        color: var(--branco_besouro);
        text-align: center;
    }
    footer a {
            color: var(--azul_besouro);
    }
        
}
